<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Gestion des articles de facturation
        <small>Articles utilis&eacute;s pour la facturation des r&eacute;sidents</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="params"><i class="fa fa-dashboard"></i> Param&eacute;trages</a></li>
        <li class="active">Articles de facturation</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="col-md-12">
        <div class="box box-primary box-solid" id="mainContainer">
            <div class="box-header with-border">
                <h3 class="box-title">Gestion des articles de facturation</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false"  ng-show="!isHistoryEnabled" ng-click="loadData()">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body" id="app">
                    <div class="panel panel-inverse" ng-show="isAddFormEnabled" id="addForm">
                        <div class="panel-heading">
                            Ajouter un article
                        </div>
                        <div class="panel-body">
                            <form novalidate name="addForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Libell&eacute;</label>
                                            <input type="text" class="form-control" placeholder="Libell&eacute; de l'article" id="libelle" name="libelle" ng-model="nouvelArticle.libelle" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <liste-familles-articles></liste-familles-articles>
                                    </div>
                                </div>
                                <div class="row pull-right">
                                    <a class="btn btn-success" ng-click="addArticle(nouvelArticle)" ng-hide="addForm.$invalid"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
                                    <a ng-click="showOrHideAddForm()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive table-bordered">
                        <table class="table table-hover" ng-show="isHistoryEnabled">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Libell&eacute;</th>
                                <th>Famille Article</th>
                                <th>TVA</th>
                                <th>Profil de cr&eacute;ion</th>
                                <th>Date de cr&eacute;ion</th>
                                <th>Profil de suppression</th>
                                <th>Date de suppression</th>
                                <th>Ancien ID</th>
                                <th>Etat</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="article in articlesHistory  | filter : searchQuery track by $index" ng-class="{'danger': charge.flag===0, 'success': charge.flag===1}">
                                <td>{{article.id}}</td>
                                <td>{{article.libelle}}</td>
                                <td>{{article.familleArticle.libelle}}</td>
                                <td>{{article.familleArticle.tauxTva}}</td>
                                <td>{{article.profilCreation}}</td>
                                <td>{{article.dateCreation}}</td>
                                <td>{{article.profilSuppression}}</td>
                                <td>{{article.dateSuppression}}</td>
                                <td>{{article.ancienIdFk}}</td>
                                <td>{{article.flag}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-hover" ng-show="!isHistoryEnabled">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="libSearch" placeholder="libell&eacute;" ng-model="searchQuery.libelle">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="familleSearch" placeholder="libell&eacute;" ng-model="searchQuery.famille">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="article in articles  | filter : searchQuery track by $index">
                                    <td>
                                        <a ng-show="!article.editionMode" class="btn btn-danger" ng-click="showConfirmation(article)"><span class="glyphicon glyphicon-minus"></span></a>
                                        <a class="btn btn-primary" ng-click="editArticle(article)"><span class="glyphicon" ng-class="!article.editionMode ? 'glyphicon-pencil' : 'glyphicon-ok'"></span></a>
                                        <a class="btn btn-danger" ng-click="article.editionMode = !article.editionMode" ng-show="article.editionMode"><span class="glyphicon glyphicon-remove"></span></a>
                                    </td>
                                    <td>{{article.id}}</td>
                                    <td ng-show="!article.editionMode">{{article.libelle}}</td>
                                    <td ng-show="!article.editionMode">{{article.familleArticle.libelle}}</td>
                                    <td ng-show="article.editionMode">{{article.familleArticle.libelle}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pull-right">
                        <a ng-click="showArticlesHistory()" ng-show="!isAddFormEnabled && !isHistoryEnabled" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Historique</a>
                        <a ng-click="showArticlesHistory()" ng-show="isHistoryEnabled" class="btn btn-success"><span class="glyphicon glyphicon-list"></span> Donn&eacute;es en utilisation</a>
                        <a ng-click="showOrHideAddForm()" ng-show="!isAddFormEnabled && !isHistoryEnabled" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
                    </div>
            </div>
        </div>
    </div>
</section>
