<div class="form-group">
    <label for="sel1">Liste des charges</label>
    <select class="form-control" id="sel1" ng-options="charge.id as charge.libelle for charge in charges "
            ng-model="chargeId">
    </select>
</div>