<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Gestion des familles des articles
        <small>Familles des articles utilis&eacute;s pour la facturation des r&eacute;sidents</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="params"><i class="fa fa-dashboard"></i> Param&eacute;trages</a></li>
        <li class="active">Familles des articles</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="col-md-12">
        <div class="box box-primary box-solid" id="mainContainer">
            <div class="box-header with-border">
                <h3 class="box-title">Gestion des familles des articles</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false"  ng-show="!isHistoryEnabled" ng-click="loadData()">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body" id="app">
                <div class="panel panel-inverse" ng-show="isAddFormEnabled" id="addForm">
                    <div class="panel-heading">
                        Ajouter une famille d'articles
                    </div>
                    <div class="panel-body">
                        <form class="form-inline" novalidate name="addForm">
                            <div class="form-group">
                                <label for="libelle">Libell&eacute;</label>
                                <input type="text" class="form-control" id="libelle" name="libelle" placeholder="EXEMPLE : Conseil D&eacute;partemental" ng-model="newFamilleArticles.libelle" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" rows="5" id="description" ng-model="newFamilleArticles.description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="taux">TVA</label>
                                <input type="text" class="form-control" id="taux" name="taux" placeholder="100%" ng-model="newFamilleArticles.tauxTva" ng-pattern="/^(100([\.][0]{1,})?$|[0-9]{1,2}([\.][0-9]{1,})?)$/" required>
                            </div>
                            <div class="form-group">
                                <label for="compte">Compte comptable</label>
                                <input type="text" class="form-control" id="compte" name="compte" placeholder="99999999" ng-model="newFamilleArticles.compte" required>
                            </div>
                            <div class="form-group">
                                <label for="journal">Journal</label>
                                <input type="text" class="form-control" id="journal" name="journal" placeholder="99999999" ng-model="newFamilleArticles.journal" required>
                            </div>
                            <a class="btn btn-success" ng-click="addData(newFamilleArticles)" ng-hide="addForm.$invalid"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
                            <a ng-click="showOrHideAddForm()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
                        </form>
                    </div>
                </div>
                <div class="table-responsive table-bordered">
                    <table class="table table-hover" ng-show="isHistoryEnabled">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Liell&eacute;</th>
                            <th>Description</th>
                            <th>Taux de TVA</th>
                            <th>Compte</th>
                            <th>Journal</th>
                            <th>Profil cr&eacute;ation</th>
                            <th>Date cr&eacute;ation</th>
                            <th>Profil suppression</th>
                            <th>Date suppression</th>
                            <th>Ancien ID</th>
                            <th>State</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="familleArticles in famillesArticlesHistory  | filter : searchQuery track by $index" ng-class="{'danger': familleArticles.flag===0, 'success': familleArticles.flag===1}">
                            <td>{{familleArticles.id}}</td>
                            <td>{{familleArticles.libelle}}</td>
                            <td>{{familleArticles.description}}</td>
                            <td>{{familleArticles.tauxTva}}</td>
                            <td>{{familleArticles.compte}}</td>
                            <td>{{familleArticles.journal}}</td>
                            <td>{{familleArticles.profilCreation}}</td>
                            <td>{{familleArticles.dateCreation}}</td>
                            <td>{{familleArticles.profilSuppression}}</td>
                            <td>{{familleArticles.dateSuppression}}</td>
                            <td>{{familleArticles.ancienIdFk}}</td>
                            <td>{{familleArticles.flag}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-hover" ng-show="!isHistoryEnabled">
                        <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="libSearch" placeholder="libell&eacute;" ng-model="searchQuery.libelle">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="tvaSearch" placeholder="TVA" ng-model="searchQuery.tauxTva">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="compteSearch" placeholder="Compte comptable" ng-model="searchQuery.compte">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="journalSearch" placeholder="Journal comptable" ng-model="searchQuery.journal">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="familleArticles in famillesArticles  | filter : searchQuery track by $index">
                            <td>
                                <a class="btn removed" ng-click="showConfirmation(familleArticles)" ng-show="!familleArticles.editionMode"><span class="glyphicon glyphicon-minus"></span></a>
                                <a class="btn btn-primary" ng-click="editData(familleArticles)"><span class="glyphicon" ng-class="!familleArticles.editionMode ? 'glyphicon-pencil' : 'glyphicon-ok'"></span></a>
                                <a class="btn btn-danger" ng-click="familleArticles.editionMode = !familleArticles.editionMode" ng-show="familleArticles.editionMode"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                            <td>{{familleArticles.id}}</td>
                            <td ng-show="!familleArticles.editionMode"><a data-toggle="tooltip" title="{{familleArticles.description}}">{{familleArticles.libelle}}</a></td>
                            <td ng-show="!familleArticles.editionMode">{{familleArticles.tauxTva}}</td>
                            <td ng-show="!familleArticles.editionMode">{{familleArticles.compte}}</td>
                            <td ng-show="!familleArticles.editionMode">{{familleArticles.journal}}</td>
                            <td ng-show="!familleArticles.editionMode">{{familleArticles.description}}</td>
                            <td ng-show="familleArticles.editionMode"><input type="text" ng-model="familleArticles.libelle" class="form-control" placeholder="Libell&eacute;" required></td>
                            <td ng-show="familleArticles.editionMode"><input type="text" ng-model="familleArticles.tauxTva" class="form-control" placeholder="10"></td>
                            <td ng-show="familleArticles.editionMode"><input type="text" ng-model="familleArticles.compte" class="form-control" placeholder="999999"></td>
                            <td ng-show="familleArticles.editionMode"><input type="text" ng-model="familleArticles.journal" class="form-control" placeholder="999999"></td>
                            <td ng-show="familleArticles.editionMode"><input type="text" ng-model="familleArticles.description" class="form-control" placeholder="Description"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <a ng-click="showHistory()" ng-show="!isAddFormEnabled && !isHistoryEnabled" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Historique</a>
                    <a ng-click="showHistory()" ng-show="isHistoryEnabled" class="btn btn-success"><span class="glyphicon glyphicon-list"></span> Donn&eacute;es actuelles</a>
                    <a ng-click="showOrHideAddForm()" ng-show="!isAddFormEnabled && !isHistoryEnabled" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal" tabindex="-1" role="dialog" id="confirmationDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Confirmation de la suppression de la famille des articles ({{selectedFamilleArticles.libelle}}). &Ecirc;tes vous s&ucirc;r?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-success" data-dismiss="modal" ng-click="deleteData(selectedFamilleArticles)"><span class="glyphicon glyphicon-ok"></span> </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->