<!-- Sidebar Menu -->
<ul class="sidebar-menu">
    <li class="header">AIDE SOCIALE</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a ui-sref="home"><i class="fa fa-dashboard"></i> <span>Accueil</span></a></li>
    <li class="treeview">
        <a><i class="fa fa-building"></i> <span>S&eacute;jour</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a><span class="fa fa-home"></span>Entit&eacute;</a></li>
            <li><a><span class="fa fa-bed"></span>R&eacute;sidents</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a><i class="fa fa-cogs"></i> <span>Param&eacute;trages</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a ui-sref="params.ressources">Ressources</a></li>
            <li><a ui-sref="params.charges">Charges</a></li>
            <li><a ui-sref="params.modesPaiements">Modes de paiements</a></li>
            <li><a ui-sref="params.modesGestionRessources">Modes de gestion de ressources</a></li>
            <li><a ui-sref="params.typesTiersPayeurs">Types de tiers payeurs</a></li>
            <li><a ui-sref="params.famillesArticles">Familles des articles</a></li>
            <li><a ui-sref="params.articlesFacturation">Articles</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a><i class="fa fa-university"></i> <span>Tiers payeurs</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a>Modes de fonctionnements</a></li>
            <li><a>Gestion de absences</a></li>
            <li><a>Articles de facturation</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a><i class="fa fa-users"></i> <span>R&eacute;sidents</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a>Prises en charge</a></li>
            <li><a>Articles</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a><i class="fa fa-eur"></i> <span>Encaissements de ressources</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a>&Eacute;tats des ressources &agrave; encaisser</a></li>
            <li><a>Encaissements</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a><i class="fa fa-envelope-o"></i> <span>D&eacute;caissement de charges</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a>&Eacute;tats des charges &agrave; d&eacute;caisser</a></li>
            <li><a>D&eacute;caissements</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a><i class="fa fa-send-o"></i> <span>Argent de poche</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a>Sommes &agrave; reverser</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a><i class="fa fa-exchange"></i> <span>Reversement de ressources</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a>&Eacute;tats</a></li>
        </ul>
    </li>
</ul><!-- /.sidebar-menu -->