<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Gestion des modes de ressources
        <small>Modes de gestion de ressources utilis&eacute;s pour le param&eacute;trage des tiers payeurs</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="params"><i class="fa fa-dashboard"></i> Param&eacute;trages</a></li>
        <li class="active">Modes de gestion de ressources</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="col-md-12">
        <div class="box box-primary box-solid" id="mainContainer">
            <div class="box-header with-border">
                <h3 class="box-title">Gestion des modes de gestion de ressources</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false"  ng-show="!isHistoryEnabled" ng-click="loadData()">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body" id="app">
                <div class="panel panel-inverse" ng-show="isAddFormEnabled" id="addForm">
                    <div class="panel-heading">
                        Ajouter un mode de gestion
                    </div>
                    <div class="panel-body">
                        <form class="form-inline" novalidate name="addForm">
                            <div class="form-group">
                                <label for="libelle">Libell&eacute;</label>
                                <input type="text" class="form-control" id="libelle" name="libelle" placeholder="EXEMPLE : Le tiers paye la totalit&eacute;" ng-model="newMode.libelle" required>
                            </div>
                            <div class="form-group">
                                <label for="taux">Taux de r&eacute;cuperation</label>
                                <input type="text" class="form-control" id="taux" name="taux" placeholder="100%" ng-model="newMode.taux" ng-pattern="/^(100([\.][0]{1,})?$|[0-9]{1,2}([\.][0-9]{1,})?)$/" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" rows="5" id="description" ng-model="newMode.description"></textarea>
                            </div>
                            <a class="btn btn-success" ng-click="addMode(newMode)" ng-hide="addForm.$invalid"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
                            <a ng-click="showOrHideAddForm()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
                        </form>
                    </div>
                </div>
                <div class="table-responsive table-bordered">
                    <table class="table table-hover" ng-show="isHistoryEnabled">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>LIBELLE</th>
                            <th>TAUX</th>
                            <th>DESCRIPTION</th>
                            <th>PROFIL_CREATION</th>
                            <th>DATE_CREATION</th>
                            <th>PROFIL_SUPPRESSION</th>
                            <th>DATE_SUPPRESSION</th>
                            <th>ANCIEN ID</th>
                            <th>STATE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="mode in modeGestionRessourcesHistory  | filter : searchQuery track by $index" ng-class="{'danger': mode.flag===0, 'success': mode.flag===1}">
                            <td>{{mode.id}}</td>
                            <td>{{mode.libelle}}</td>
                            <td>{{mode.taux}}</td>
                            <td>{{mode.description}}</td>
                            <td>{{mode.profilCreation}}</td>
                            <td>{{mode.dateCreation}}</td>
                            <td>{{mode.profilSuppression}}</td>
                            <td>{{mode.dateSuppression}}</td>
                            <td>{{mode.ancienIdFk}}</td>
                            <td>{{mode.flag}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-hover" ng-show="!isHistoryEnabled">
                        <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="libSearch" placeholder="libell&eacute;" ng-model="searchQuery.libelle">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="tauxSearch" placeholder="Taux de recuperation" ng-model="searchQuery.taux">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="mode in modeGestionRessources | filter : searchQuery track by $index">
                            <td>
                                <a class="btn removed" ng-click="showConfirmation(mode)" ng-show="!mode.editionMode"><span class="glyphicon glyphicon-minus"></span></a>
                                <a class="btn btn-primary" ng-click="editMode(mode)"><span class="glyphicon" ng-class="!mode.editionMode ? 'glyphicon-pencil' : 'glyphicon-ok'"></span></a>
                                <a class="btn btn-danger" ng-click="mode.editionMode = !mode.editionMode" ng-show="mode.editionMode"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                            <td>{{mode.id}}</td>
                            <td ng-show="!mode.editionMode"><a data-toggle="tooltip" title="{{mode.description}}">{{mode.libelle}}</a></td>
                            <td ng-show="!mode.editionMode">{{mode.taux}}</td>
                            <td ng-show="!mode.editionMode">{{mode.description}}</td>
                            <td ng-show="mode.editionMode"><input type="text" ng-model="mode.libelle" class="form-control" placeholder="Libell&eacute;" required></td>
                            <td ng-show="mode.editionMode"><input type="text" ng-model="mode.taux" class="form-control" placeholder="100" ng-pattern="/^(100([\.][0]{1,})?$|[0-9]{1,2}([\.][0-9]{1,})?)$/" required></td>
                            <td ng-show="mode.editionMode"><input type="text" ng-model="mode.description" class="form-control" placeholder="Description"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <a ng-click="showHistory()" ng-show="!isAddFormEnabled && !isHistoryEnabled" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Historique</a>
                    <a ng-click="showHistory()" ng-show="isHistoryEnabled" class="btn btn-success"><span class="glyphicon glyphicon-list"></span> Donn&eacute;es actuelles</a>
                    <a ng-click="showOrHideAddForm()" ng-show="!isAddFormEnabled && !isHistoryEnabled" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal" tabindex="-1" role="dialog" id="confirmationDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Confirmation de la suppression du mode de gestion de ressources ({{selectedMode.libelle}}). &Ecirc;tes vous s&ucirc;r?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-success" data-dismiss="modal" ng-click="deleteMode(selectedMode)"><span class="glyphicon glyphicon-ok"></span> </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->