<section class="content">
    <div class="col-md-12">
        <div id="mainContainer" class="box box-danger box-solid">
            <div class="box-header with-border">
                Acc&egrave;s refus&eacute;
            </div>
            <div class="box-body">Privil&egrave;ge administrateur requis</div>
        </div>
    </div>
</section>
