<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Gestion des ressources
        <small>Ressources utilis&eacute;es pour le param&eacute;trage des r&eacute;sidents</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="params"><i class="fa fa-dashboard"></i> Param&eacute;trages</a></li>
        <li class="active">Ressources</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="col-md-12">
        <div class="box box-primary box-solid" id="mainContainer">
            <div class="box-header with-border">
                <h3 class="box-title">Gestion des ressources</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false"  ng-show="!isHistoryEnabled" ng-click="loadData()">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body" id="app">
                <div class="panel panel-inverse" ng-show="isAddFormEnabled" id="addForm">
                    <div class="panel-heading">
                        Ajouter une ressource
                    </div>
                    <div class="panel-body">
                        <form class="form-inline" novalidate name="addForm">
                            <div class="form-group">
                                <label for="libelle">Libell&eacute;</label>
                                <input type="text" class="form-control" id="libelle" name="libelle" placeholder="EXEMPLE : CAF" ng-model="nouvelleRessource.libelle" required>
                            </div>
                            <div class="form-group">
                                <label for="taux">Taux de r&eacute;cuperation</label>
                                <input type="text" class="form-control" id="taux" name="taux" placeholder="100%" ng-model="nouvelleRessource.taux" ng-pattern="/^(100([\.][0]{1,})?$|[0-9]{1,2}([\.][0-9]{1,})?)$/" required>
                            </div>
                            <a class="btn btn-success" ng-click="addRessource(nouvelleRessource)" ng-hide="addForm.$invalid"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
                            <a ng-click="showOrHideAddForm()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
                        </form>
                    </div>
                </div>
                <div class="table-responsive table-bordered">
                    <table class="table table-hover" ng-show="isHistoryEnabled">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>LIBELLE</th>
                            <th>TAUX</th>
                            <th>PROFIL_CREATION</th>
                            <th>DATE_CREATION</th>
                            <th>PROFIL_SUPPRESSION</th>
                            <th>DATE_SUPPRESSION</th>
                            <th>ANCIEN ID</th>
                            <th>STATE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ressource in ressourcesHistory  | filter : searchQuery track by $index" ng-class="{'danger': ressource.flag===0, 'success': ressource.flag===1}">
                            <td>{{ressource.id}}</td>
                            <td>{{ressource.libelle}}</td>
                            <td>{{ressource.taux}}</td>
                            <td>{{ressource.profilCreation}}</td>
                            <td>{{ressource.dateCreation}}</td>
                            <td>{{ressource.profilSuppression}}</td>
                            <td>{{ressource.dateSuppression}}</td>
                            <td>{{ressource.ancienIdFk}}</td>
                            <td>{{ressource.flag}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-hover" ng-show="!isHistoryEnabled">
                        <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="libSearch" placeholder="libell&eacute;" ng-model="searchQuery.libelle">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="tauxSearch" placeholder="Taux" ng-model="searchQuery.taux" ng-pattern="/^(100([\.][0]{1,})?$|[0-9]{1,2}([\.][0-9]{1,})?)$/">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ressource in ressources  | filter : searchQuery track by $index">
                            <td>
                                <a ng-show="!ressource.editionMode" class="btn btn-danger" ng-click="showConfirmation(ressource)"><span class="glyphicon glyphicon-minus"></span></a>
                                <a class="btn btn-primary" ng-click="editRessource(ressource)"><span class="glyphicon" ng-class="!ressource.editionMode ? 'glyphicon-pencil' : 'glyphicon-ok'"></span></a>
                                <a class="btn btn-danger" ng-click="ressource.editionMode = !ressource.editionMode" ng-show="ressource.editionMode"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                            <td>{{ressource.id}}</td>
                            <td ng-show="!ressource.editionMode">{{ressource.libelle}}</td>
                            <td ng-show="!ressource.editionMode">{{ressource.taux}}</td>
                            <td ng-show="ressource.editionMode"><input type="text" ng-model="ressource.libelle" class="form-control" placeholder="USERNAME" required></td>
                            <td ng-show="ressource.editionMode"><input type="text" ng-model="ressource.taux" class="form-control" placeholder="USERNAME" ng-pattern="/^(100([\.][0]{1,})?$|[0-9]{1,2}([\.][0-9]{1,})?)$/" required></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <a ng-click="showHistory()" ng-show="!isAddFormEnabled && !isHistoryEnabled" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Historique</a>
                    <a ng-click="showHistory()" ng-show="isHistoryEnabled" class="btn btn-success"><span class="glyphicon glyphicon-list"></span> Donn&eacute;es actuelles</a>
                    <a ng-click="showOrHideAddForm()" ng-show="!isAddFormEnabled && !isHistoryEnabled" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal" tabindex="-1" role="dialog" id="confirmationDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>&Ecirc;tes-vous s&ucirc;r de vouloir supprimer la ressource : ({{selectedRessource.libelle}}) ?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-success" data-dismiss="modal" ng-click="deleteRessource(selectedRessource)"><span class="glyphicon glyphicon-ok"></span> </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
