<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Gestion des types de tiers payeurs
        <small>Types de tiers payeurs utilis&eacute;s pour le param&eacute;trage des tiers payeurs</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="params"><i class="fa fa-dashboard"></i> Param&eacute;trages</a></li>
        <li class="active">Modes des types de tiers payeurs</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="col-md-12">
        <div class="box box-primary box-solid" id="mainContainer">
            <div class="box-header with-border">
                <h3 class="box-title">Gestion des types de tiers payeurs</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false"  ng-show="!isHistoryEnabled" ng-click="loadData()">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body"  id="app">
                <div class="panel panel-inverse" ng-show="isAddFormEnabled" id="addForm">
                <div class="panel-heading">
                    Ajouter un type de tiers payeurs
                </div>
                <div class="panel-body">
                    <form class="form-inline" novalidate name="addForm">
                        <div class="form-group">
                            <label for="libelle">Libell&eacute;</label>
                            <input type="text" class="form-control" id="libelle" name="libelle" placeholder="EXEMPLE : Conseil D&eacute;partemental" ng-model="newTypeTiers.libelle" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" rows="5" id="description" ng-model="newTypeTiers.description"></textarea>
                        </div>
                        <a class="btn btn-success" ng-click="addData(newTypeTiers)" ng-hide="addForm.$invalid"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
                        <a ng-click="showOrHideAddForm()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
                    </form>
                </div>
            </div>
                <div class="table-responsive table-bordered">
                <table class="table table-hover" ng-show="isHistoryEnabled">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>LIBELLE</th>
                            <th>DESCRIPTION</th>
                            <th>PROFIL_CREATION</th>
                            <th>DATE_CREATION</th>
                            <th>PROFIL_SUPPRESSION</th>
                            <th>DATE_SUPPRESSION</th>
                            <th>ANCIEN ID</th>
                            <th>STATE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="typeTiers in famillesArticlesHistory  | filter : searchQuery track by $index" ng-class="{'danger': typeTiers.flag===0, 'success': typeTiers.flag===1}">
                            <td>{{typeTiers.id}}</td>
                            <td>{{typeTiers.libelle}}</td>
                            <td>{{typeTiers.description}}</td>
                            <td>{{typeTiers.profilCreation}}</td>
                            <td>{{typeTiers.dateCreation}}</td>
                            <td>{{typeTiers.profilSuppression}}</td>
                            <td>{{typeTiers.dateSuppression}}</td>
                            <td>{{typeTiers.ancienIdFk}}</td>
                            <td>{{typeTiers.flag}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover" ng-show="!isHistoryEnabled">
                    <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>
                            <div class="input-group">
                                <input type="text" class="form-control" id="libSearch" placeholder="libell&eacute;" ng-model="searchQuery.libelle">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            </div>
                        </th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="typeTiers in famillesArticles  | filter : searchQuery track by $index">
                        <td>
                            <a class="btn removed" ng-click="showConfirmation(typeTiers)" ng-show="!typeTiers.editionMode"><span class="glyphicon glyphicon-minus"></span></a>
                            <a class="btn btn-primary" ng-click="editData(typeTiers)"><span class="glyphicon" ng-class="!typeTiers.editionMode ? 'glyphicon-pencil' : 'glyphicon-ok'"></span></a>
                            <a class="btn btn-danger" ng-click="typeTiers.editionMode = !typeTiers.editionMode" ng-show="typeTiers.editionMode"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                        <td>{{typeTiers.id}}</td>
                        <td ng-show="!typeTiers.editionMode">{{typeTiers.libelle}}</td>
                        <td ng-show="!typeTiers.editionMode">{{typeTiers.description}}</td>
                        <td ng-show="typeTiers.editionMode"><input type="text" ng-model="typeTiers.libelle" class="form-control" placeholder="Libell&eacute;" required></td>
                        <td ng-show="typeTiers.editionMode"><input type="text" ng-model="typeTiers.description" class="form-control" placeholder="Description"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
                <div class="text-right">
                    <a ng-click="showHistory()" ng-show="!isAddFormEnabled && !isHistoryEnabled" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Historique</a>
                    <a ng-click="showHistory()" ng-show="isHistoryEnabled" class="btn btn-success"><span class="glyphicon glyphicon-list"></span> Donn&eacute;es actuelles</a>
                    <a ng-click="showOrHideAddForm()" ng-show="!isAddFormEnabled && !isHistoryEnabled" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal" tabindex="-1" role="dialog" id="confirmationDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Confirmation de la suppression du type de tiers payeurs ({{selectedTypeTiers.libelle}}). &Ecirc;tes vous s&ucirc;r?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-success" data-dismiss="modal" ng-click="deleteData(selectedTypeTiers)"><span class="glyphicon glyphicon-ok"></span> </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->